*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
   background-image: url(/assets/jaunakais.jpg);
   background-size: cover;
   display: flex;
   flex-wrap: wrap;
}

.topHeading{
    width: 100%;
    height: 170px;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
}

.mainHeadingTextBox{
    height: 150px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
}

.leftHeading{
    width: 270px;
    height: 100%;
    background-color: transparent;
    font-family: 'Jockey One', sans-serif;
    color: white;
    font-size: 80px;
    text-align: center;
    line-height: 120px;
}
.leftHeading span{
    margin-left: 171px;
}
.midHeading{
    width: 110px;
 height: 100%;
 background-color: transparent;
 font-family: 'Marck Script', cursive;
 color: #FFB000;
 font-size: 110px;
 text-align: center;
 line-height: 170px;
}
.rightHeading{
    width: 270px;
    height: 100%;
    background-color: transparent;
    font-family: 'Jockey One', sans-serif;
    color: white;
    font-size: 80px;
    text-align: center;
    line-height: 170px;
}
.rightHeading span{
    margin-left: -143px;
}

.loginBox{
    width: 370px;
    height: 480px;
    margin: 20px auto;
    background-color: #004225;
    border-radius: 11px;
    border: #FFB000 3px solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
}

.loginHeading{
    width: 100%;
    height: 60px;
    font-family: 'Jockey One', sans-serif;
    color: white;
    font-size: 45px;
    text-align: center;
}

.loginMidBox{
    width: 320px;
    height: 230px;
    border-bottom: #FFB000 3.6px solid;
    margin: auto;
    border-radius: 17px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.inputGroup{
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
}

.inputHeading{
    width: 100%;
    height: 40px;
    font-family: 'Jockey One', sans-serif;
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
}
.inputField{
    width: 80%;
    height: 28px;
    margin: 0px auto;
    background-color: #004225;
    border: none;
    border-top: #FFB000 4px solid;
    border-radius: 3px;
    filter: drop-shadow(2px 5px 6px #000000);
    color: white;

}
.loginButtonBox{
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.submitButton{
    width: 200px;
    height: 42px;
    background-color: #004225;
    border: none;
    border-bottom: #FFB000 4px solid;
    border-radius: 5px;
    filter: drop-shadow(2px 5px 6px #000000);
    margin: 10px auto;
    color: white;
    font-family: 'Jockey One', sans-serif;
    color: white;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
}
.registerCall{
    width: 100%;
    height: 20px;
display: flex;
flex-wrap: wrap;
}
a{
    color: white;
    font-size: 10px;
    font-family: 'Jockey One', sans-serif;
margin: 0 auto;

}

.menuButton{
    width: 65px;
    height: 65px;
    border-radius: 16px;
    background-color: #004225;
    filter: drop-shadow(2px 3px 3px #FFB000);
    position: fixed;
    left: 20px;
    top: 20px;
    color: white;
    font-size: 80px;
    font-family: 'Jockey One', sans-serif;
    text-align: center;
    line-height: 65px;
    cursor: pointer;

}
.menuBar{
    width: 400px;
    height: 100%;
    background-color: #004225;
    position: fixed;
    border-right: #FFB000 10px solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: none;
}
@media only screen and (max-width: 600px) {
    img{
        width: 80%;
        margin: auto;
    }
    .mainHeadingTextBox{
        height: 5%;
    }
    .loginBox{
        width: 80%;
    }
    .inputField{
        width: 80%;
    }
    .loginMidBox{
        width: 85%;
    }
    .menuButton{
        width: 40px;
        height: 40px;
        font-size: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
      }