*{
    margin: 0;
    padding: 0;
}
body{
	background-image: url(../assets/jaunakais.jpg);
	background-size: cover; 
}

.error{
	width: 100%;
	text-align: center;
	margin-top: 2px;
	font-size: 12px;
	color: red;
}

.topHeadingCR {
	width: 100%;
	height: 115px;
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
    overflow: hidden;
}
.img1CR{

	overflow: hidden;
    height: 120px;
}
.img2CR{

	overflow: hidden;
    height: 60px;
}

.mainHeadingTextBoxCR {
	height: 150px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
    
}

.mainHeadingTextBox2CR {
	height: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow: hidden;
    
}

.leftHeadingCR {
	width: 270px;
	height: 100%;
	background-color: transparent;
	font-family: 'Jockey One', sans-serif;
	color: white;
	font-size: 80px;
	text-align: center;
	line-height: 120px;
}

.leftHeadingCR span {
	margin-left: 171px;
}

.leftHeadingSmallCR {
	width: 46px;
	height: 100%;
	background-color: transparent;
	font-family: 'Jockey One', sans-serif;
	color: white;
	font-size: 60px;
	text-align: center;
	line-height: 90px;
}

.leftHeadingSmallCR span {
	margin-left: -4px;
}

.midHeadingCR {
	width: 110px;
	height: 100%;
	background-color: transparent;
	font-family: 'Marck Script', cursive;
	color: #FFB000;
	font-size: 110px;
	text-align: center;
	line-height: 170px;
}

.midHeadingSmallCR {
	width: 70PX;
	height: 100%;
	background-color: transparent;
	font-family: 'Marck Script', cursive;
	color: #FFB000;
	font-size: 90px;
	text-align: center;
	line-height: 140px;
}

.rightHeadingCR {
	width: 270px;
	height: 100%;
	background-color: transparent;
	font-family: 'Jockey One', sans-serif;
	color: white;
	font-size: 80px;
	text-align: center;
	line-height: 170px;
}

.rightHeadingCR span {
	margin-left: -143px;
}

.rightHeadingSmallCR {
	width: 100px;
	height: 100%;
	background-color: transparent;
	font-family: 'Jockey One', sans-serif;
	color: white;
	font-size: 60px;
	text-align: center;
	line-height: 160px;
	display: flex;
}

.rightHeadingSmallCR span {
	margin-left: -10px;
}

.menuButtonCR {
	width: 65px;
	height: 65px;
	border-radius: 16px;
	background-color: #004225;
	filter: drop-shadow(2px 3px 3px #FFB000);
	position: fixed;
	left: 20px;
	top: 20px;
	color: white;
	font-size: 80px;
	font-family: 'Jockey One', sans-serif;
	text-align: center;
	line-height: 65px;
	cursor: pointer;
    z-index: 1021030;
}

.menuBarCR {
	width: 400px;
	height: 100%;
	background-color: #004225;
	position: fixed;
	border-right: #FFB000 10px solid;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	display: none;
}

.midLineCR {
	width: 400px;
	height: 0px;
	border: 3px solid #FFB000;
	margin: 0 auto;
}

.midLine2CR {
	width: 100%;
	height: 0px;
	border: 3px solid #F5F5DC;
	margin: -11px auto;
}

.underMidCR  {
	width: 400px;
	height: 90px;
	margin: 10px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.midContainerCR {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	position: absolute;
	top: 15%;
	margin-top: 150px;
	/* Remove fixed height */
  }
.midBoxCR{
	width: 50%;
	height: 95%;
	margin: auto;
	border-radius: 13px;
	border-top: 7px solid #FFB000;
	border-bottom: 7px solid #FFB000;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: #004225;
}

form{
	width: 70%;
	height: 60%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.formBlockCR{
	width: 48%;
	height: 80px;
	margin: 5px auto;
	display: flex;
	flex-wrap: wrap;
}
.blockLabelCR{
	width: 100%;
	height: 40%;
	color: WHITE;
	text-align: center;
	font-family: Jockey One;
	font-size: 27px;
	line-height: 32px;
}
.boxHeadingCR{
    width: 100%;
    height: 60px;
    color: white;
    font-size: 30px;
    font-family: 'Jockey One', sans-serif;
    text-align: center;
    line-height: 65px;
    cursor: pointer;
}
.inputFieldUnderCR{
    width: 80%;
    height: 30px;
    margin: 0 auto;
    background-color: #004225;
    border: none;
    border-top: #FFB000 4px solid;
    border-radius: 3px;
    filter: drop-shadow(2px 5px 6px #000000);
    color: white;

}
.buttonBoxCR{
	width: 70%;
	height: 70px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}
.saveButtonCR{

	width: 250px;
	height: 46px;
	background-color: #004225;
	border: none;
	border-bottom: 4px solid #FFB000;
	border-radius: 5px;
	box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.70);
	cursor: pointer;
	margin: auto;
	color: WHITE;
	text-align: center;
	font-family: Jockey One;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
@media only screen and (max-width: 600px) {
	.midBoxCR{
		width: 80%;
	}
	.formBlockCR{
		width: 100%;
	}
	.inputFieldUnderCR{
		width: 100%;
	}
	.img2CR{
		height: 35px;
	}
	.underMidCR{
		height: 50px;
		width: 100%;
	}
	.midLineCR{
		width: 80%;
		border: 2px solid #FFB000;
	}
	.midLine2CR{
		width: 100%;
		border: 2px solid white;
	}
	.img1CR{
		height: 65px;
	}
	.boxHeadingCR{
		font-size: 22px;
	}
}
