*{
    margin: 0;
    padding: 0;
}
body{
	background-image: url(../assets/jaunakais.jpg);
	background-size: cover; 
}

.error{
	width: 100%;
	text-align: center;
	margin-top: 2px;
	font-size: 12px;
	color: red;
}

.topHeadingEDITPRF {
	width: 100%;
	height: 115px;
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
    overflow: hidden;
}
.img1EDITPRF{

	overflow: hidden;
    height: 120px;
}
.img2EDITPRF{

	overflow: hidden;
    height: 60px;
}

.mainHeadingTextBoxEDITPRF {
	height: 150px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
    
}

.mainHeadingTextBox2EDITPRF {
	height: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow: hidden;
    
}

.leftHeadingEDITPRF {
	width: 270px;
	height: 100%;
	background-color: transparent;
	font-family: 'Jockey One', sans-serif;
	color: white;
	font-size: 80px;
	text-align: center;
	line-height: 120px;
}

.leftHeadingEDITPRF span {
	margin-left: 171px;
}

.leftHeadingSmallEDITPRF {
	width: 46px;
	height: 100%;
	background-color: transparent;
	font-family: 'Jockey One', sans-serif;
	color: white;
	font-size: 60px;
	text-align: center;
	line-height: 90px;
}

.leftHeadingSmallEDITPRF span {
	margin-left: -4px;
}

.midHeadingEDITPRF {
	width: 110px;
	height: 100%;
	background-color: transparent;
	font-family: 'Marck Script', cursive;
	color: #FFB000;
	font-size: 110px;
	text-align: center;
	line-height: 170px;
}

.midHeadingSmallEDITPRF {
	width: 70PX;
	height: 100%;
	background-color: transparent;
	font-family: 'Marck Script', cursive;
	color: #FFB000;
	font-size: 90px;
	text-align: center;
	line-height: 140px;
}

.rightHeadingEDITPRF {
	width: 270px;
	height: 100%;
	background-color: transparent;
	font-family: 'Jockey One', sans-serif;
	color: white;
	font-size: 80px;
	text-align: center;
	line-height: 170px;
}

.rightHeadingEDITPRF span {
	margin-left: -143px;
}

.rightHeadingSmallEDITPRF {
	width: 100px;
	height: 100%;
	background-color: transparent;
	font-family: 'Jockey One', sans-serif;
	color: white;
	font-size: 60px;
	text-align: center;
	line-height: 160px;
	display: flex;
}

.rightHeadingSmallEDITPRF span {
	margin-left: -10px;
}

.menuButtonEDITPRF {
	width: 65px;
	height: 65px;
	border-radius: 16px;
	background-color: #004225;
	filter: drop-shadow(2px 3px 3px #FFB000);
	position: fixed;
	left: 20px;
	top: 20px;
	color: white;
	font-size: 80px;
	font-family: 'Jockey One', sans-serif;
	text-align: center;
	line-height: 65px;
	cursor: pointer;
    z-index: 1021030;
}

.menuBarEDITPRF {
	width: 400px;
	height: 100%;
	background-color: #004225;
	position: fixed;
	border-right: #FFB000 10px solid;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	display: none;
}

.midLineEDITPRF {
	width: 400px;
	height: 0px;
	border: 3px solid #FFB000;
	margin: 0 auto;
}

.midLine2EDITPRF {
	width: 100%;
	height: 0px;
	border: 3px solid #F5F5DC;
	margin: -11px auto;
}

.underMidEDITPRF  {
	width: 400px;
	height: 90px;
	margin: 10px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.midContainerEDITPRF {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	position: absolute;
	top: 10%;
	margin-top: 150px;
  }
.midBoxEDITPRF{
	width: 50%;
	height: 95%;
	margin: auto;
	margin-bottom: 25px;
	margin-top: 25px;
	border-radius: 13px;
	border-top: 7px solid #FFB000;
	border-bottom: 7px solid #FFB000;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: #004225;
}

form{
	width: 100%;
	height: 60%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.formBlockEDITPRF{
	width: 48%;
	height: 80px;
	margin: 5px auto;
	display: flex;
	flex-wrap: wrap;
}
.blockLabelEDITPRF{
	width: 100%;
	height: 40%;
	color: WHITE;
	text-align: center;
	font-family: Jockey One;
	font-size: 27px;
	line-height: 32px;
}
.boxHeadingEDITPRF{
    width: 100%;
    height: 60px;
    color: white;
    font-size: 30px;
    font-family: 'Jockey One', sans-serif;
    text-align: center;
    line-height: 65px;
    cursor: pointer;
}
.inputFieldUnderEDITPRF{
    width: 80%;
    height: 30px;
    margin: 0 auto;
    background-color: #004225;
    border: none;
    border-top: #FFB000 4px solid;
    border-radius: 3px;
    filter: drop-shadow(2px 5px 6px #000000);
    color: white;

}
.buttonBoxEDITPRF{
	width: 70%;
	height: 70px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	flex-direction: column;
}
.saveButtonEDITPRF{

	width: 80%;
	height: 46px;
	background-color: #004225;
	border: none;
	border-bottom: 4px solid #FFB000;
	border-radius: 5px;
	box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.70);
	cursor: pointer;
	margin: auto;
	color: WHITE;
	text-align: center;
	font-family: Jockey One;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.success{
	color: rgb(20, 147, 13);
}
@media only screen and (max-width: 600px) {
	.saveButtonEDITPRF{
		width: 90%;
	}
	.midBoxEDITPRF{
		width: 80%;
	}
	.formBlockEDITPRF{
		width: 100%;
	}
	.inputFieldUnderEDITPRF{
		width: 80%;
	}
	.img2EDITPRF{
		height: 35px;
	}
	.underMidEDITPRF{
		margin-top: -12px;
		margin-bottom: 20px;
		height: 50px;
		width: 100%;
	}
	.midLineEDITPRF{
		width: 80%;
		border: 2px solid #FFB000;
	}
	.midLine2EDITPRF{
		width: 100%;
		border: 2px solid white;
	}
	.img1EDITPRF{
		height: 65px;
	}
	.boxHeadingEDITPRF{
		font-size: 22px;
	}
}
